:root {
    --main-bg-color: #FFF;
    --main-font-color: #333;
    --highlight-font-color: #eee;
    --color-correct: rgb(106, 170, 100);
    --color-present: rgb(201, 180, 88);
    --color-absent: rgb(120, 124, 126);
    --border-standard: 2px solid #ccc;
	--border-highlight: 2px solid #999;
    --key-font-color: #333;
    --key-highlight-bg-color: #aaa;
    --key-bg-color: #cdcdcd;
    --animation-delay: 0.15s;
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
    /* disable double tap to zoom */
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    color: var(--main-font-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5vmin;
}

/*
-------------------------------------------------------------------
HEADER
-------------------------------------------------------------------
*/
header {
    display: flex;
    width: 63vmin;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: var(--border-standard);
    margin-bottom: 2vmin;
}

header img {
    width: 4vmin;
    height: 4vmin;
    cursor: grab;
}

header img:active {
    cursor: grabbing;
}

h1 {
    text-transform: uppercase;
    font-size: 5vmin;
    font-weight: 500;
    margin: 1vmin 4vmin;
    cursor: grab;
}

h1:active {
    cursor: grabbing;
}

/*
-------------------------------------------------------------------
KEYBOARD
-------------------------------------------------------------------
*/
#keyboard {
    display: flex;
    margin: 3vmin auto;
    justify-content: space-between;
    align-items: stretch;
    gap: 1vmin;
    padding: 2vmin;
    flex-wrap: wrap;
    max-width: 95vmin;
}

.key {
    cursor: grab;
    flex: 1 1 7.5%;
    background-color: var(--key-bg-color);
    color: var(--key-font-color);
    text-transform: uppercase;
    font-size: 3vmin;
    border-radius: 1vmin;
    padding: 1vmin;
    line-height: 2;
    text-align: center;
}

.input {
    flex-grow: 18;
}

.key:active {
    cursor: grabbing;
    background-color: var(--key-highlight-bg-color);
    color: var(--key-font-color);
}

/*
-------------------------------------------------------------------
ROWS
-------------------------------------------------------------------
*/
.row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.letter {
    border: var(--border-highlight);
    width: 8vmin;
    height: 8vmin;
    margin: 0.5vmin;
    padding: 0.5vmin;
    font-size: 6vmin;
    text-align: center;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 500;
	transition: all 0.5s;
}

.letter:empty {
	border: var(--border-standard);
}

.correct {
    background-color: var(--color-correct);
    border-color: var(--color-correct);
    color: var(--highlight-font-color);
}

.present {
    background-color: var(--color-present);
    border-color: var(--color-present);
    color: var(--highlight-font-color);
}

.absent {
    background-color: var(--color-absent);
    border-color: var(--color-absent);
    color: var(--highlight-font-color);
}

/*
-------------------------------------------------------------------
MODALS
-------------------------------------------------------------------
*/
aside {
    position: absolute;
    top: 12vmin;
    left: 50%;
    transform: translateX(-50%);
    width: 75vmin;
    background-color: var(--main-bg-color);
    padding: 2vmin;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

aside .row {
    justify-content: flex-start;
}

aside .letter {
    width: 6vmin;
    height: 6vmin;
    margin: 0.5vmin;
    padding: 0.5vmin;
    font-size: 4vmin;
    line-height: 1.1;
}

.modal {
    top: 22%;
    width: initial;
    background-color: #444;
    color: #ddd;
    border-radius: 0.5vmin;
    font-size: 2vmin;
    text-align: center;
}

h2 {
    font-size: 3vmin;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 2.5vmin;
    font-weight: 600;
    /* margin: 0 0 1vmin 0; */
}

.option {
  display: block;
  position: relative;
  padding: 0 6vmin;
  margin: 3vmin 0;
  cursor: pointer;
  user-select: none;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.5vmin;
  width: 3.5vmin;
  background-color: var(--color-absent);
}

.option input:checked ~ .checkmark {
  background-color: var(--color-correct);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  left: 1.25vmin;
  top: 0.75vmin;
  width: 0.7vmin;
  height: 1.5vmin;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.hidden {
    display: none;
}

hr {
    border: none;
    border-top: 1px solid var(--main-font-color);
    margin: 1em 0;
    width: 100%;
  }

.credit {
    font-size: 2vmin;
}

/*
-------------------------------------------------------------------
ANIMATIONS
-------------------------------------------------------------------
*/
.jump {
    animation: jump 0.5s;
}

.shake {
    animation: shake 0.5s;
}

@keyframes jump {
    0% {
        transform: translateY(0vmin);
    }

    50% {
        transform: translateY(-2vmin);
    }

    100% {
        transform: translateY(0vmin);
    }
}

.letter:nth-child(1) {
	animation-delay: calc(var(--animation-delay)*1);
}

.letter:nth-child(2) {
	animation-delay: calc(var(--animation-delay)*2);
}

.letter:nth-child(3) {
	animation-delay: calc(var(--animation-delay)*3);
}

.letter:nth-child(4) {
	animation-delay: calc(var(--animation-delay)*4);
}

.letter:nth-child(5) {
	animation-delay: calc(var(--animation-delay)*5);
}

@keyframes shake {
    0% {
        transform: translateX(0vmin);
    }

    20%, 60% {
        transform: translateX(-1vmin);
    }

	40%, 80% {
        transform: translateX(+1vmin);
    }

    100% {
        transform: translateX(0vmin);
    }
}

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #222;
        --main-font-color: #CCC;
        --border-standard: 2px solid #aaa;
		--border-highlight: 2px solid #ddd;
        --key-font-color: #111;
        --key-highlight-bg-color: #ccc;
        --key-bg-color: #aaa;
    }

	header img {
		filter: invert(.75);
	}
}

@media only screen and (max-width: 450px) and (orientation: portrait) {
    body {
        font-size: 4vmin;
    }

    header {
        width: 90vmin;
    }

    header img {
        width: 6vmin;
        height: 6vmin;
    }

    h1 {
        font-size: 8vmin;
    }


    .letter {
        width: 16vmin;
        height: 16vmin;
        margin: 1vmin;
        padding: 1vmin;
        font-size: 11vmin;
    }

    aside .letter {
        width: 10vmin;
        height: 10vmin;
        margin: 1vmin;
        padding: 1vmin;
        font-size: 8vmin;
        line-height: 0.9;
    }

    h2 {
        font-size: 5vmin;
        font-weight: 600;
        margin: 0;
    }

    h3 {
        font-size: 4vmin;
        font-weight: 600;
        margin: 0 0 2vmin 0;
    }

    #keyboard {
        justify-content: space-between;
        align-items: stretch;
        gap: 1vmin;
        padding: 1vmin;
        max-width: 99vmin;
    }

    .key {
        font-size: 5vmin;
    }

    aside {
        width: 90vmin;
        padding: 3vmin;
    }

    .modal {
        font-size: 4vmin;
    }

    .credit {
        font-size: 3vmin;
    }

    .option {
      padding: 0 6vmin;
      margin: 3vmin 0;
    }

    .checkmark {
      height: 5vmin;
      width: 5vmin;
    }

    .option .checkmark:after {
      left: 1.5vmin;
      top: 0.5vmin;
      width: 1.2vmin;
      height: 2.3vmin;
    }
}
