@layer theme {
  :root {
    --main-bg-color: hsl(0, 0%, 100%);
    --letter-bg-color: hsl(0, 0%, 100%);
    --modal-bg-color: #444;
    --main-font-color: #333;
    --highlight-font-color: #eee;
    --color-correct: rgb(106, 170, 100);
    --color-present: rgb(201, 180, 88);
    --color-absent: rgb(120, 124, 126);
    --border-standard: 2px solid #ccc;
    --border-highlight: 2px solid #999;
    --border-active: 2px dashed #999;
    --border-thin: 1px solid #ccc;
    --key-font-color: #333;
    --key-highlight-bg-color: #aaa;
    --key-bg-color: #cdcdcd;
    --font-family: 'Work Sans', sans-serif;
    --base-font-size: 2.5vmin;
    --header-img-filter: none;
    --modal-font-color: #ddd;
    --backdrop-bg-color: hsla(0,0%,0%,0.2);
    --checkmark-border-color: #fff;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --main-bg-color: hsl(0, 0%, 14%);
      --letter-bg-color: hsl(0, 0%, 25%);
      --modal-bg-color: #666;
      --main-font-color: #ccc;
      --border-standard: 2px solid #aaa;
      --border-highlight: 2px solid #ddd;
      --key-font-color: #111;
      --key-highlight-bg-color: #ccc;
      --key-bg-color: #aaa;
      --header-img-filter: invert(.75);
    }
  }
}
