@font-face {
  font-display: block;
  font-family: "DV Source Sans 3";
  font-style: normal;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-sans-3-v15_latin-ext_normal_200-900.woff2) format("woff2");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
    u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: block;
  font-family: "DV Source Sans 3";
  font-style: normal;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-sans-3-v15_latin_normal_200-900.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
    u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@layer theme {
  :root {
    --main-bg-color: hsl(0, 0%, 100%);
    --letter-bg-color: hsl(0, 0%, 100%);
    --modal-bg-color: #393939;
    --main-font-color: #212529;
    --highlight-font-color: #FFF;
    --color-correct: #478517;
    --color-present: #D8B118;
    --color-absent: #555555;
    --color-fail: #C60000;
    --border-standard: 1px solid #c6c6c6;
    --border-highlight: 1px solid #8e8e8e;
    --border-active: 1px dashed #8e8e8e;
    --key-font-color: #393939;
    --key-highlight-bg-color: #aaa;
    --key-bg-color: #c6c6c6;
    --key-width: 7.8%;
    --font-family: "DV Source Sans 3", Helvetica, Arial, sans-serif;
    --root-font-size: 14px;
    --scale-h2: 20px;
    --scale-h3: 18px;
    --scale-credit: 1;
    --scale-modal: 1.125;
    --header-img-filter: none;
    --modal-font-color: #ddd;
    --backdrop-bg-color: hsla(0, 0%, 0%, 0.6);
    --checkmark-border-color: #fff;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --stats-bar-color: #e3e3e3;
    --stats-fill-color: #717171;
    --maxScreen: 1000px;
    --button-opacity: 1;
    --button-rgb: 232, 237, 238;
    --button-font-color: #212529;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --main-bg-color: #212529;
      --letter-bg-color: #212529;
      --color-correct: #55AC26;
      --color-fail: #FF4242;
      --modal-bg-color: #555555;
      --main-font-color: #fff;
      --border-standard: 1px solid #717171;
      --border-highlight: 1px solid #aaaaaa;
      --key-font-color: #212529;
      --key-highlight-bg-color: #aaaaaa;
      --key-bg-color: #8e8e8e;
      --header-img-filter: invert(1);
      --stats-bar-color: #555555;
      --stats-fill-color: #c6c6c6;
      --button-rgb: 50, 61, 70;
      --button-font-color: #ffffff;
    }
  }

  :where(h2, h3, .letter) {
    font-weight: 600;
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: underline;
  }

  a:hover {
    color: inherit;
    opacity: 0.7;
  }

  main {
    width: 100vw;
    max-width: var(--maxScreen);
    padding: 3vmin;
    border: var(--border-standard);
  }

  header {
    border: var(--border-standard);
    border-bottom: none;
    width: 100vw;
    max-width: var(--maxScreen);
    margin: 0;
    padding: 0.5rem 3vmin;
  }

  header div {
    display: flex;
    align-items: center;
    gap: 1vmin;
    cursor: pointer;
  }

  header div:hover {
    opacity: 0.7;
  }

  header img,
  aside img {
    width: 1.5em;
    height: 1.5em;
  }

  aside {
    max-width: 335px;
  }

  .close img {
    width: 2em;
    height: auto;
  }

  h2 {
    text-align: center;
  }

  #keyboard {
    margin: 3vmin;
    max-width: var(--maxScreen);
    padding: 0;
  }

  .stats-label {
    width: 4.5em;
  }

  button {
    max-width: 300px;
    width: 100%;
    font-weight: 600;
  }

  .restart,
  .continue {
    background-color: rgba(var(--button-rgb), var(--button-opacity));
    color: var(--button-font-color);
  }

  .restart:hover,
  .continue:hover {
    --button-opacity: 0.7;
  }

  .restart:active,
  .continue:active {
    background-color: var(--button-bg-color);
  }

  .resume-actions .restart {
    border: 1px solid var(--main-font-color);
    background-color: transparent;
  }

  #settings .restart {
    margin: 0 auto;
  }

  .checkmark {
    background-color: transparent;
    border: 1px solid var(--key-highlight-bg-color);
    border-radius: 2px;
  }

  .option input:checked~.checkmark {
    background-color: transparent;
  }

  .option .checkmark:after {
    left: 0.5em;
    top: 0.2em;
    width: 0.4em;
    height: 0.8em;
    border: solid var(--main-font-color);
    border-width: 0 1px 1px 0;
  }

  @media only screen and (max-width: 450px) and (orientation: portrait) {
    header {
      width: 100vw;
      padding: 3vmin 6vmin;
    }

  }
}